body {
  margin: 0;
  padding: 0;
  font-family: "Roboto", sans-serif;
  color: #000;
}

header {
  display: flex;
  flex-direction: column;
  padding-top: 20px;
}

#header-left {
  flex: 1; /* Occupy one part of the available space */
}

.upper {
  display: flex;
  justify-content: center;
  align-items: center;
  margin-bottom: -20px;
}

#logo {
  max-width: 200px;
  display: block;
  padding: 10px;
  margin-left: 40px;
}

#header-middle {
  flex: 2; /* Occupy two parts of the available space */
}

#header-right {
  flex: 1; /* Occupy one part of the available space */
}

#header-div-right {
  display: flex;
}

.center-elements {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  text-align: center;
  padding: 10px;
}

.img-icon {
  display: flex;
  align-items: center;
  justify-content: center;
  width: 25px;
  height: 25px;
  margin-right: 5px;
}

.icon-text {
  font-size: 10px;
  font-weight: bold;
  color: #091e38;
}

.center-button {
  display: flex;
  align-items: center;
  border: none;
  border-radius: 10px;
  height: 35px;
  width: 100px;
  padding: 0;
  background-color: #091e38;
  color: white;
  font-size: 14px;
  cursor: pointer;
  padding-left: 10px;
}

.button-text {
  margin-left: 10px;
}

.inner {
  display: flex;
  justify-content: center;
  align-items: center;
}

.inner .dropdown-content ul li {
  display: inline-block;
  align-items: center;
  text-align: center;
  list-style: none;
}

.inner .dropdown-content ul li + li {
  margin-left: 20px;
}

li .center-button {
  width: 130px;
}

.inner .dropdown-content ul li a {
  text-decoration: none;
  color: black;
  font-weight: bold;
}

.inner .dropdown-content ul li a:hover {
  color: #ff6633;
}

#active {
  color: #ff6633;
}

.carousel-container {
  background-color: #091e38;
  padding: 40px 0 40px 0;
}

.image-container {
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
  gap: 30px;
  padding: 20px;
}

.image-item {
  width: 300px;
  height: 300px;
  border-radius: 50px;
}

.image-item:hover {
  transition: all 0.5s ease-in-out;
  transform: translateY(-20px);
}

.carousel-buttons {
  display: flex;
  padding-bottom: 10px;
  margin-top: 20px;
  justify-content: center;
  gap: 30px;
}
.nav-buttons {
  width: 15px;
  height: 15px;
  border-radius: 50px;
  border: 2px solid white;
}

.nav-buttons:hover {
  transition: all 0.5s ease-in-out;
  transform: translateY(-2px);
}

#first-nav-button {
  background-color: white;
}

.cards-section {
  padding-top: 40px;
  padding-bottom: 40px;
  justify-content: center;
  display: flex;
  flex-wrap: wrap;
  row-gap: 20px;
}

.card {
  width: 300px;
  height: 400px;
  border: 3px solid gray;
  border-radius: 10px;
  margin: 10px;
  box-shadow: 0 4px 6px;
}

.card:hover {
  transition: all 0.5s ease-in-out;
  transform: translateY(-20px);
}

.card-img {
  display: flex;
  width: 300px;
  height: 155px;
  border-top-left-radius: 7px;
  border-top-right-radius: 7px;
}

.card-data {
  padding: 18px;
}

.card-type {
  display: flex;
  align-items: center;
  justify-content: center;
  border: none;
  border-radius: 10px;
  height: 35px;
  width: 150px;
  background-color: #091e38;
  color: white;
  font-size: 16px;
  cursor: pointer;
}

.card-title {
  margin-top: 10px;
  font-size: 20px;
  color: #091e38;
  font-weight: bold;
}

.card-icons-inline {
  display: flex;
  padding-top: 10px;
  color: #091e38;
}

.card-icons-inline b {
  color: gray;
  font-size: small;
  margin-top: 4px;
}

.card-price {
  display: flex;
  justify-content: space-between;
  padding-top: 20px;
}

.price-up-down {
  display: flex;
  flex-direction: column;
  color: #091e38;
}

.price-up-down span {
  color: gray;
}

.support {
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
  gap: 100px;
}
.img-support-logo {
  width: 50px;
  height: auto;
}

.icon-p {
  font-size: 13px;
  font-weight: lighter;
  color: gray;
  margin-top: -10px;
}

.more-container {
  display: flex;
  padding: 0px 200px 0px 200px;
}

.more-left {
  display: flex;
  flex: 1;
  flex-direction: column;
  padding: 30px;
}

.more-left img {
  width: 200px;
  height: auto;
}
.more-text {
  font-weight: bold;
  color: black;
  padding-top: 15px;
  margin-right: 50px;
}

.apps {
  display: flex;
  gap: 20px;
}

.style-button-app {
  display: flex;
  align-items: center;
  border: none;
  border-radius: 8px;
  height: 35px;
  width: 200px;
  background-color: #091e38;
  color: white;
  font-size: 14px;
  cursor: pointer;
  gap: 30px;
}

.dropdown {
  display: flex;
  gap: 20px;
  width: 410px;
  background-color: #091e38;
  padding: 5px;
  border-radius: 8px;
  cursor: pointer;
}

#star {
  margin-left: 10px;
  background-color: red;
  color: green;
  border-radius: 6px;
}
.dropdown div {
  color: white;
  margin-top: 4px;
}

#span-dropdown {
  padding-left: 250px;
  color: white;
}

.more-right {
  flex: 1;
  display: flex;
  flex-direction: column;
  padding: 30px;
}

.links {
  display: flex;
}

.links h3 {
  padding-left: 38px;
  color: #091e38;
}

.links-style ul li {
  list-style: none;
}
.links-style ul li:hover {
  color: #ff6633;
  cursor: pointer;
}

.form {
  display: flex;
  flex-direction: column;
  border: 3px solid #091e38;
  border-radius: 10px;
  margin-left: 40px;
  padding: 0px 30px 20px 30px;
}

.form p {
  margin-top: -15px;
  color: gray;
  font-size: 13px;
}
.form-input {
  display: flex;
  flex-direction: row;
  margin-top: 25px;
}

.form-input input {
  width: 230px;
  border: none;
  border-bottom: #000 solid 1px;
  margin-right: -10px;
}

.form-input button {
  padding-left: 30px;
  width: 150px;
}

footer {
  display: flex;
  justify-content: space-between;
  align-items: center;
  background-color: #091e38;
  padding: 10px 20px;
}

.footer-left {
  display: flex;
  margin-right: 10px;
  color: white;
  font-weight: bold;
  font-size: 15px;
}

.footer-right {
  display: flex;
  gap: 20px;
}

.footer-right a {
  margin-left: 10px;
}

.footer-right a:hover {
  transition: all 0.5s ease-in-out;
  transform: translateY(-2px);
}
